html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
center,
u,
b,
i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
    text-decoration: none;
}

html {
         overflow-x: hidden;
       }

   

#nav{
 background-color: rgba(0, 0, 0, 0.8);
    color: #000000;
    width: 100%;
    left: 0;
    top: 0;
    font-family: "Ubuntu";
    color: #000000;
    z-index: 3;
    text-decoration: none;
    text-decoration-color: none;
}
    #nav > a{ /*menu superior responsive*/

        display: none;
        text-decoration: none;
        font-family: "Ubuntu";
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration-color: none;
        color: #fff;

    }

     #nav a{
         color: #fff;



     }
    #nav li{
        position: relative;
        list-style: none;
        display: none;
        text-decoration: none;
        font-family: "Ubuntu";
        text-align: left;
        
    }
 
    /* first level */
 
    #nav > ul
    {


    }
        #nav > ul > li
        {
            padding: 20px;
            float: center;
            display: inline-block;
            color: #000000;

        }
 
    /* second level */
 
    #nav li ul
    {
        display: none;
        position: absolute;
        top: 100%;
        text-decoration: none;
        text-align: right;

    }
        nav li:hover {
            background-color:#76998d;
            
        }

        @media only screen and ( max-width: 800px ) /* 640 */
{
    #nav
    {
        position: relative;
        text-decoration-color: none;
        text-align: center;
    }
        #nav > a
        {
        }
        #nav:not( :target ) > a:first-of-type,
        #nav:target > a:last-of-type
        {
            display: block;
        }
 
    /* first level */
 
    #nav > ul
    {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
        #nav:target > ul
        {
            display: block;
        }
        #nav > ul > li
        {
            width: 100%;
            float: none;
        }
 
    /* second level */
 
    #nav li ul
    {
        position: static;
    }


    @media only screen and ( max-width: 800px ) /* 640 */
{
    #nav
    {
        position: relative;
    }
        #nav > a
        {
        }
        #nav:not( :target ) > a:first-of-type,
        #nav:target > a:last-of-type
        {
            display: block;
        }
 
    /* first level */
 
    #nav > ul
    {
        height: auto;
        display: none;
        position: absolute;
        text-decoration-color: none;
        background-color:  rgba(0, 0, 0, 0.9);
    }
        #nav:target > ul
        {
            display: block;
        }
        #nav > ul > li
        {

    text-align: -webkit-auto;

        }
 
    /* second level */
 
    #nav li ul
    {
        position: static;
    }
}
}


.box5{
    height: 316px;
    /*background-color: lightblue;*/
    background-size: cover;
    position: relative;
    border: none;
    margin-bottom: 0px;

}

.box6{
    height: 316px;
    background-size: cover;
    position: relative;
    border: none;
    margin-top: 0px;

}

.box5:hover{
  opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}
.box6:hover{
  opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}

.box7{
    height: 316px;
    background-size: cover;
    position: relative;
    border: none;

}

.box7:hover{
  opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}


.img{
  background-image: url("img/cerromerced.png");
  width: 100%;
position: absolute;
 background-size: cover;

}

.img2{
  background-image: url(img/rasgografico.png);
  width: 100%;
position: absolute;
 background-size: cover;

}

.img3{
  background-image: url(img/phalene01.png);
  width: 100%;
position: absolute;
 background-size: cover;

}

.img4{
  background-image: url(img/afiche01.png);
  width: 100%;
position: absolute;
 background-size: cover;

}

.content-box{
padding-top: 40px;
width: 50%;
padding-left: 20px;
float: right;


}


@media all and (max-width: 700px) {

.content-box{
padding-top: 40px;
/*background-color: lightblue;*/
padding-left: 20px;
width: 95%


}

.content-box1{
padding-top: 40px;
width: 50%;
padding-left: 20px;
float: right;


}
}


h1{ /*experiencia de usuarios*/

	font-family: "Amatic SC";
	font-size: 70px;
	text-align: center;
	color: #000000;
	padding-top: 40px;

}


h2 {
	font-family: "Ubuntu";
	font-size: 20px;
	font-weight: 500;
	color: #000000;
	line-height: 25px;
	
}

h3{
font-family: "Ubuntu";
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	color: #000000;
	padding-bottom: 40px;
	line-height: 25px;
  padding-right: 60px;
  padding-left: 60px;

}

h4{
	font-family: "Ubuntu";
	font-size: 20px;
	font-weight: 500;
	color: #fff;
}

h5{
	font-family: "Ubuntu";
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 20px;
}


.vertical1 {
	width: 1px;
	height: 51px;
	border: solid 1px #94c8b7;
	background-color: #94c8b7;
	position: absolute;
	margin:0px;
	padding-top: 20px;

}


li{
	font-family: "Ubuntu";
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	color: #fff;
	text-decoration: none;
	list-style: none;
	padding-left: 20px;
	line-height: 20px;
}

h6{
  font-family: "Ubuntu";
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  text-decoration-color: none;
  padding-top: 10px;

}

.boton{
  font-family: "Ubuntu";
  font-size: 18px;
  font-style: 300px;
  color: blue;
  background-color: #8CD1BA;
  border: solid #94c8b7 2px;
  text-decoration: none;
  width: 116px;
  height: 37px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
text-align: center;

}

.boton:hover {
  background: #27c490;
  text-decoration: none;
  color: #ffffff;
  color: blue;

}

.footer {
    height: 70px;
    background-color: rgba(0,
    0,
    0,
    0.8);
    width: 100%;
    color: #000000;;
    font-family: "ubuntu";
    font-family: "ubuntu";
font-size: 15px;
text-decoration: none;
text-decoration-color: none;
list-style: none;
    


}


.list{
color: #ffffff;
font-family: "ubuntu";
font-size: 15px;
text-decoration: none;
text-decoration-color: none;
list-style: none;
padding: 20px;
text-align: right;
font-weight: 300;

}

@media all and (max-width: 700px) {

    body {

        /*background-color: red;*/
}

.box2{
  width: 49%;
  height: 208px;
     margin-top: 0px;
     margin-bottom: 0px;
   background-color: #97839E;
   right: 160px;
   position: absolute;

  

}

.img1{

position: relative;
   
  background-size: cover;
  /*background-image: url(img/senaleticacerromerced.gif);*/
}


h3{
padding-left: 20px;
padding-right: 20px;
}


@media all and (max-width: 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%;
    }


}



