html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
center,
u,
b,
i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
    text-decoration: none;
}

html {
         overflow-x: hidden;
       }

   

#nav{
 background-color: rgba(0, 0, 0, 0.8);
    color: #000000;
    width: 100%;
    left: 0;
    top: 0;
    font-family: "Ubuntu";
    color: #000000;
    z-index: 3;
    text-decoration: none;
    text-decoration-color: none;
}
    #nav > a{ /*menu superior responsive*/

        display: none;
        text-decoration: none;
        font-family: "Ubuntu";
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration-color: none;
        color: #fff;

    }

     #nav a{
         color: #fff;



     }
    #nav li{
        position: relative;
        list-style: none;
        display: none;
        text-decoration: none;
        font-family: "Ubuntu";
        text-align: left;
        
    }
 
    /* first level */
 
    #nav > ul
    {


    }
        #nav > ul > li
        {
            padding: 20px;
            float: center;
            display: inline-block;
            color: #000000;

        }
 
    /* second level */
 
    #nav li ul
    {
        display: none;
        position: absolute;
        top: 100%;
        text-decoration: none;
        text-align: right;

    }
        nav li:hover {
            background-color:#76998d;
            
        }

        @media only screen and ( max-width: 800px ) /* 640 */
{
    #nav
    {
        position: relative;
        text-decoration-color: none;
        text-align: center;
    }
        #nav > a
        {
        }
        #nav:not( :target ) > a:first-of-type,
        #nav:target > a:last-of-type
        {
            display: block;
        }
 
    /* first level */
 
    #nav > ul
    {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
        #nav:target > ul
        {
            display: block;
        }
        #nav > ul > li
        {
            width: 100%;
            float: none;
        }
 
    /* second level */
 
    #nav li ul
    {
        position: static;
    }


    @media only screen and ( max-width: 800px ) /* 640 */
{
    #nav
    {
        position: relative;
    }
        #nav > a
        {
        }
        #nav:not( :target ) > a:first-of-type,
        #nav:target > a:last-of-type
        {
            display: block;
        }
 
    /* first level */
 
    #nav > ul
    {
        height: auto;
        display: none;
        position: absolute;
        text-decoration-color: none;
        background-color:  rgba(0, 0, 0, 0.9);
    }
        #nav:target > ul
        {
            display: block;
        }
        #nav > ul > li
        {

    text-align: -webkit-auto;

        }
 
    /* second level */
 
    #nav li ul
    {
        position: static;
    }
}

}


.box1 {
    margin:40px 0px 40px 0px;
    background-color: #fff;
    position: center;
    text-align: center;
    }
    
.box3 {
    height: 316px;
    background-image: url(img/disenoanalogo.gif);
    background-size: cover;
    position: relative;
    z-index: 1;
    }


  .box3:hover {
 opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}


.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,
    0,
    0,
    .3);
    z-index: 2;

}
.content-box {
    z-index: 3;
    position: relative;
}
.box4 {
    height: 316px;
    background-image: url(img/disenodeinteraccion.gif);
    background-size: cover;
    position: relative;
    z-index: 1;
}

.box4:hover {
 opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}

.box5 {
    background: url("img/experienciadeusuario.gif")repeat-x left top;
    height: 316px;
    position: relative;
    z-index: 1;
    background-size: cover;
}


.box5:hover {
 opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}

.footer {
    height: 70px;
    background-color: rgba(0,
    0,
    0,
    0.8);
    width: 100%;
    color: #000000;;
    font-family: "ubuntu";
    font-family: "ubuntu";
font-size: 15px;
text-decoration: none;
text-decoration-color: none;
list-style: none;
    


}


.list{
color: #ffffff;
font-family: "ubuntu";
font-size: 15px;
text-decoration: none;
text-decoration-color: none;
list-style: none;
padding: 20px;
text-align: right;
font-weight: 300;

}


.horizontal {
    width: 951px;
    height: 1px;
    border: solid 1px #94c8b7;
    background-color: #94c8b7;
    margin-top: 20px;
    margin-bottom: 20px;
}


h4 {
    font-family: "Amatic SC";
    font-size: 60px;
    text-align: center;
    color:#ffffff;
    padding-top: 90px;
    z-index: 4;

}


h6 {
    font-family: "Amatic SC";
    font-size: 30px;
    text-align: center;
    color:#000000;
}
.phome {
    font-family: "Ubuntu";
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
     padding-right: 100px;
    padding-left: 100px;

}



@media all and (max-width: 800px) {

    body {

     background-color: red;

    
    }

    h4 {
    font-family: "Amatic SC";
    font-size: 55px;
    text-align: center;
    color:#ffffff;
    padding-top: 20px;
}




.phome {
    font-family: "Ubuntu";
    font-size: 17px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
     padding-right: 20px;
    padding-left: 20px;

}

.box1 {
    margin:40px 0px 40px 0px;
    background-color: #fff;
    position: center;
    text-align: center;
    }

