

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, 
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, 
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: normal;
     font-style: normal;
     vertical-align: baseline;
     text-decoration: none;


}
*body{
	background : #ffffff;
	margin:0;
	padding:0;
	padding-top: 80px;
	margin-left: 20px;
	margin-right: 20px;
	color:#ffffff;
	text-decoration: none;
	text-decoration-color: none;
	 /* Relleno superior igual a la altura de la cabecera*/

}

}
#main-header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #000000;
    width: 100%;
    /* hacemos que la cabecera ocupe el ancho completo de la página */
    
    left: 0;
    /* Posicionamos la cabecera al lado izquierdo */
    
    top: 0;
    /* Posicionamos la cabecera pegada arriba */
    
    position: fixed;
    /* Hacemos que la cabecera tenga una posición fija */
    
    font-family: "Ubuntu";
    color: #000000;
    z-index: 3;
}
}
#main-header a {
    font-family: "Ubuntu";
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding-right: 60px;
    padding-bottom: 80px;
    padding-left: 80px
}
}
/*
 * Navegación
 */

nav {
    float: right;
    text-decoration: none;
    text-decoration-color: none;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-family: "Ubuntu";
}
nav ul li {
    display: inline-block;
    line-height: 80px;
}
nav ul li a {
    /*textos menu*/
    
    display: block;
    padding: 0 20px;
    text-decoration: none;
    text-decoration: none;
    text-decoration-color: none;
    color:#ffffff;
}
nav ul li a:hover {
    /*cuadro que interatua con mouse*/
    
    background-color: #76998d;
    color: #fff;
    text-decoration: none;
    text-decoration-color: none;
    z-index: 4;
}


.box1{

	margin:80px 0px 40px 0px;
	padding:100px 150px 20px 150px;
	/*height: 117px;*/
	/*background-color: #76998d;*/
	position: center;
	text-align: center;

}

.contenedor1{
/*background-color:  #B8E986;*/
height: 394px;
	 padding-bottom: 20px;
	 padding-left: 160px;
	 position: relative;
	 padding-top: 20px;

}

.box2{
	width: 363px;

     margin-top: 0px;
     margin-bottom: 0px;
	 /*background-color: #76998d;*/
	 

}

.img1{

position: absolute;
  top: 40px;
  bottom: 70px;
  right: 160px;
  width: 562px;
  height: 281px;
  background-image: url(img/testdeusuario.gif);
   background-color: #76998d;
   background-size: cover;
}

.img2{

position: absolute;
  top: 40px;
  bottom: 70px;
  right: 160px;
  width: 562px;
  height: 281px;
  background-image: url(img/heuristico.gif);
   background-color: #76998d;
   background-size: cover;
}

.img3{

position: absolute;
  top: 40px;
  bottom: 70px;
  right: 160px;
  width: 562px;
  height: 281px;
  background-image: url(img/benchmarck.gif);
   background-color: #76998d;
   background-size: cover;
}

.footer{
height: 100px;
background-color: rgba(0, 0, 0, 0.8);
color: #000000;
width: 100%; 

}

h1{ /*experiencia de usuarios*/

	font-family: "Amatica SC";
	font-size: 70px;
	text-align: center;
	color: #000000;
	

}


h2 {
	font-family: "Ubuntu";
	font-size: 20px;
	font-weight: 500;
	color: #000000;
	line-height: 25px;
	
}

h3{

	font-family: "Ubuntu";
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	color: #000000;
	padding-bottom: 40px;
	line-height: 25px;
}



p {
	width: 363px;
	font-family: "Ubuntu";
	font-size: 17px;
	font-weight: 300;
	color: #000000;
	line-height: 24px;
	
}

.line {
	width: 956px;
	height: 1px;
	border: solid 1px #94c8b7;
	background-color: #94c8b7;
}



